<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="independent.trusas"
    android:versionCode="1"
    android:versionName="0.1"
    >

    <application>
	<service android:name=".TrusasSensorDump">
		<intent-filter>
			<action android:name="independent.trusas.TrusasSensorDump"/>
			<action android:name="independent.trusas.TrusasSensorDump.STOP"/>
		</intent-filter>
	</service>
	
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.hardware.location.network" />
    <uses-permission android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.hardware.sensor.barometer" />
    <uses-permission android:name="android.hardware.sensor.compass" />
    <uses-permission android:name="android.hardware.sensor.gyroscope" />
    <uses-permission android:name="android.hardware.sensor.light" />
    <uses-permission android:name="android.hardware.sensor.proximity" />
</manifest>
